<header>
  <h2>Contacts</h2>
  <nav>
    <ul>
      <li><a href="#" role="button">New contact</a></li>
    </ul>
  </nav>
</header>

<table>
  <tbody>
    <tr>
      <td>
        <a href="#">Edit</a>
        <a href="#">Delete</a>
      </td>
      <td>First Contact</td>
    </tr>
    <tr>
      <td>Second Contact</td>
      <td>
        <a href="#">Edit</a>
        <a href="#">Delete</a>
      </td>
    </tr>
    <tr>
      <td>Third Contact</td>
      <td>
        <a href="#">Edit</a>
        <a href="#">Delete</a>
      </td>
    </tr>
  </tbody>
</table>

<nav>
  <ul>
    <li>First Contact</li>
  </ul>
  <ul>
    <li><a href="#">Edit</a></li>
    <li><a href="#">Delete</a></li>
  </ul>
</nav>
<nav>
  <ul>
    <li>Second Contact</li>
  </ul>
  <ul>
    <li><a href="#">Edit</a></li>
    <li><a href="#">Delete</a></li>
  </ul>
</nav>
<nav>
  <ul>
    <li>Third Contact</li>
  </ul>
  <ul>
    <li><a href="#">Edit</a></li>
    <li><a href="#">Delete</a></li>
  </ul>
</nav>
